@page
@model Projecty.Pages.BacklogModel
@{
    ViewData["Title"] = "Backlog";
}

<h1>Backlog</h1>

<div class="accordion" id="accordionExample">
    @{
        int i = 0;
        string currentCollapse = $"collapse{i}";
        string currentHeader = $"header{i}";
        if (Model.Features != null)
        {
            foreach (var feature in Model.Features)
            {
                <div class="mb-3">
                    <div class="card">
                        <div class="card-header" id="@currentHeader">
                            <h2 class="mb-0 d-flex">
                                <a class="btn badge badge-@feature.StatusAsHtmlColor align-self-center mr-2" style="height: 25px; width: 25px;" data-toggle="dropdown" data-placement="top" title="@feature.Status">⠀</a>
                                <div class="dropdown-menu">
                                    <a data-status="0" class="feature-status-dropdown-button dropdown-item text-secondary">New</a>
                                    <a data-status="2" class="feature-status-dropdown-button dropdown-item text-info">InProgress</a>
                                    <a data-status="1" class="feature-status-dropdown-button dropdown-item text-warning">Pending</a>
                                    <a data-status="3" class="feature-status-dropdown-button dropdown-item text-purple">WaitingForReview</a>
                                    <a data-status="4" class="feature-status-dropdown-button dropdown-item text-pink">UnderReview</a>
                                    <a data-status="5" class="feature-status-dropdown-button dropdown-item text-danger">Halted</a>
                                    <a data-status="6" class="feature-status-dropdown-button dropdown-item text-success">Completed</a>
                                </div>

                                <button class="btn btn-link flex-fill text-left text-decoration-none" type="button" data-toggle="collapse" data-target="#@currentCollapse" aria-expanded="true" aria-controls="@currentCollapse">
                                    @feature.Title
                                </button>

                                <button class="btn btn-link">
                                    <span class="float-right text-warning">@feature.RatingAsStarString</span>
                                </button>

                                <button class="btn btn-link">
                                    <span class="float-right text-info" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">✎</span>
                                </button>
                            </h2>
                        </div>

                        <div id="@currentCollapse" class="collapse" aria-labelledby="@currentHeader">
                            <div class="card-body p-0">
                                <div class="container border-bottom border-dark m-0">
                                    @foreach (var task in feature.Tasks)
                                    {
                                        <div class="task-card row align-items-center border-dark border-bottom"  data-id="@task.Id" data-status="@((Int16)task.Status)" data-title="@task.Title" data-priority="@((Int16)task.Priority)">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <a class="btn badge badge-@task.StatusAsHtmlColor status-marker" data-toggle="dropdown" data-placement="top" title="@task.Status" aria-haspopup="true">⠀</a>
                                                        <div class="dropdown-menu">
                                                            <a data-status="0" class="task-status-dropdown-button dropdown-item text-secondary">New</a>
                                                            <a data-status="2" class="task-status-dropdown-button dropdown-item text-info">In progress</a>
                                                            <a data-status="1" class="task-status-dropdown-button dropdown-item text-warning">Pending</a>
                                                            <a data-status="3" class="task-status-dropdown-button dropdown-item text-purple">WaitingForReview</a>
                                                            <a data-status="4" class="task-status-dropdown-button dropdown-item text-pink">UnderReview</a>
                                                            <a data-status="5" class="task-status-dropdown-button dropdown-item text-danger">Halted</a>
                                                            <a data-status="6" class="task-status-dropdown-button dropdown-item text-success">Completed</a>
                                                        </div>
                                                    </div>
                                                    <div class="col p-0 mr-1">
                                                        <input class="task-title-input text-light w-100 m-0 border-0 bg-transparent" value="@task.Title" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 p-0">
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-outline-@task.PriorityAsHtmlColor btn-block border-0 rounded-0 priority-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@task.Priority</button>
                                                    <div class="dropdown-menu">
                                                        <a data-priority="2" class="task-priority-dropdown-button dropdown-item text-success">Low</a>
                                                        <a data-priority="1" class="task-priority-dropdown-button dropdown-item text-warning">Medium</a>
                                                        <a data-priority="0" class="task-priority-dropdown-button dropdown-item text-danger">High</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto text-center p-0">
                                                <button class="task-delete-button btn btn-outline-danger border-0 rounded-0">✘</button>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="text-center col p-0">
                                            <button class="btn btn-sm bg-transparent border-0 w-100 font-weight-bolder">➕</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                i++;
                currentCollapse = $"collapse{i}";
                currentHeader = $"header{i}";
            }
        }
    }
</div>
